<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Troca Troca Abadá</title>
        <style type="text/css">
            body {background-color: #87CEEB; font-size: 18px}
        </style>
    </h:head>
    <h:body>
        <p:fieldset legend="Meu Cadastro" toggleable="true">
            <div align="center">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputText value="Nome Completo:" />
                        <p:inputText id="nome" value="" />
                        <h:outputText value="Data cadastro:" />
                        <p:calendar value="#{testeBean.dataCadastro}" />
                        <h:outputText value="Cidade:" />
                        <p:inputText  value="" />
                        <h:outputText value="Telefone:" />
                        <p:inputMask mask="(99)9999-9999" value="" />
                        <h:outputText value="CPF:" />
                        <p:inputMask mask="999.999.999-99" value="" />
                        <h:outputText value="Senha:" />
                        <p:keyboard password="true" keypadOnly="true" value="" />

                        <h:commandButton id="btnE" value="Enviar" type="submit" action="xxx"/>
                        <h:commandButton id="btnL" value="Limpar" type="reset"/>
                    </h:panelGrid>

                </h:form>
                <h:form>
                    <h:commandLink value="Voltar" action="inicio.xhtml"/>
                </h:form>
            </div>

        </p:fieldset>

    </h:body>
</html>