<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>

        <title>Troca Troca Abadá</title>

        <style type="text/css">
            body {background-color: #87CEEB; font-size: 15px}

        </style> 

    </h:head>
    <h:body>
        <div align="center">

            <p:layoutUnit position="north" size="100">  
                <h1><font color="#4682B4"> Troca Troca Abadá</font></h1>
            </p:layoutUnit>  

            <p:layoutUnit position="west" size="150"><br/>
                <ui:insert name="menu">
                    <h:form>
                        <p:menu style="width: 200px">
                            <p:submenu label="Menu">
                                <p:menuitem value="Anuncie" icon="ui-icon-contact" 
                                            action="abada.xhtml"/>
                                <p:menuitem value="Sair" icon="ui-icon-contact"
                                            action="sair.xhtml" />                                        
                            </p:submenu>
                        </p:menu>
                    </h:form>
                </ui:insert><br/>
            </p:layoutUnit> 


            <p:layoutUnit position="center">  
                <ui:insert name="centro">

                    <h:form id="form">
                        <p:dataGrid var="car" value="#{dataGridView.cars}" columns="3" layout="grid"
                                    rows="6" paginator="true" id="cars"
                                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    rowsPerPageTemplate="6,12">

                            <f:facet name="header">
                                <h2> Escolha seu abadá e divirta-se!</h2>
                            </f:facet>

                            <p:panel header="#{car.id}" style="text-align:center"> 
                                <h:panelGrid columns="1" style="width:100%">

                                    <h:outputText value="#{car.year}" />

                                    <p:commandLink update=":form:carDetail" oncomplete="PF('carDialog').show()" title="View Detail">
                                        <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
                                        <f:setPropertyActionListener value="#{car}" target="#{dataGridView.selectedCar}" />
                                    </p:commandLink>
                                </h:panelGrid>
                            </p:panel>

                        </p:dataGrid>

                        <p:dialog header="Escolha" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                            <p:outputPanel id="carDetail" style="text-align:center;">
                                <p:panelGrid  columns="2" rendered="#{not empty dataGridView.selectedCar}" columnClasses="label,value">

                                    <h:outputText value="Abada:" />
                                    <h:outputText value="#{dataGridView.selectedCar.id}" />

                                    <h:outputText value="Troco:" />
                                    <h:outputText value="#{dataGridView.selectedCar.year}" />

                                    <h:outputText value="Nome:" />
                                    <h:outputText value="#{dataGridView.selectedCar.color}" style="color:#{dataGridView.selectedCar.color}"/>

                                    <h:outputText value="Dias" />
                                    <h:outputText value="#{dataGridView.selectedCar.price}" />

                                    <h:outputText value="Atrações" />
                                    <h:outputText value="#{dataGridView.selectedCar.price}" />

                                    <h:outputText value="Cidade" />
                                    <h:outputText value="#{dataGridView.selectedCar.price}" />

                                    <h:outputText value="Telefone" />
                                    <h:outputText value="#{dataGridView.selectedCar.price}" />

                                    <h:outputText value="Validade" />
                                    <h:outputText value="#{dataGridView.selectedCar.price}" />


                                </p:panelGrid>
                            </p:outputPanel>
                        </p:dialog>
                    </h:form>      

                </ui:insert>
            </p:layoutUnit> 

        </div> 

    </h:body>
</html>